/* Defining variables for use throughout the doc */
:root {
    --main-font-c: #b3b3b3;
    --secondary-font-c: #797979;

    --main-background-c: #2a2c2e;
    --secondary-background-c: #252628;

    --tl-shadow:#404040;
    --br-shadow:#000000;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    color: var(--main-font-c);
    margin: 0;
}

p {
    color: var(--secondary-font-c);
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    height: 100%;
    background-color: var(--main-background-c);
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.title {
    text-align: center;
    font-size: 1.4em;
}

.introduction {
    margin: 2em 0;
}

.projects__project {
    border-radius: 1em;
    max-width: 20em;
    flex-shrink: 1;

	box-shadow: -6px -6px 20px 0px var(--tl-shadow), 6px 6px 20px 0px var(--br-shadow);
}

.projects__project-inside {
    padding: 1em 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects__project-image {
    object-fit: cover;
    box-shadow: inset 0px 0px 16px -2px var(--br-shadow);
    border-radius: 0.5em;
}

.projects__project-image img {
    z-index:-1;
    border-radius: 0.5em;
    position: relative;   
    display: block;
}

.projects__project-title {
    margin-top: 0.2em;
}

.projects__project-description {
    margin-bottom: 1.5em;
    height: 100%;
}

.projects__project-button {
    /* background-color: var(--secondary-background-c); */
    padding: 0.4em 0;
    width: 40%;
    justify-content: flex-end;
    text-align: center;
    text-decoration: none;
    box-shadow: -4px -4px 10px 0px var(--tl-shadow), 4px 4px 10px 0px var(--br-shadow);
    border-radius: 0.5em;
    font-weight: 1000;
    cursor: pointer;

    color: var(--main-font-c)
}

.projects__project-button:active {
    box-shadow: inset 0px 0px 10px 0px var(--br-shadow);
    border: #232425 1px solid;
}

.footer__content {
    text-align: center;
    margin: 4em 0 1em;
}

@media (min-width: 700px) {
    .row {
        flex-direction: row;
        align-items: unset;
    }
    
    .title {
        width: 100%;
    }

    .footer__content {
        width: 100%;
    }
}