<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FM Home</title>
</head>
<body>
    <h1>Hi.</h1>
    <p>Visit the github, one day this'll become something more comprehensive but I cba atm</p>
    <a href="https://github.com/OliMations/FrontendMentor">Github</a>

    <h3>Basic File Browser</h3>
    <ul>
        {% for file in browser %}
        <li><a href="{{ url_for('frontendmentor.static', filename=file, _external=True) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>