<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="..\static\favicon.ico">
    <title>Home</title>
</head>
<body>
    <section class="introduction">
        <div class="container row">
            <div class="title">
                <h1>Hi, I'm Ollie.</h1>
                <p>Developing projects to learn and entertain.</p>
            </div>
        </div>
    </section>
    <main class="projects">
        <div class="container row">
            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\jakebot.png"></div>
                    <h2 class="projects__project-title">JakeBot - 2018</h2>
                    <p class="projects__project-description">This is a addon or "bot" for the popular chatting application Discord. Its main function is translation and has
                        proven to be popular and profitable with over 12000 servers using it. Made with Python (Pycord).
                    </p>
                    <div class="projects__project-button-group">
                        <a class="projects__project-button" href="https://top.gg/bot/503967099790557185" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\jakebot_home.png"></div>
                    <h2 class="projects__project-title">JakeBot Website - 2020</h2>
                    <p class="projects__project-description">This is associated website for the prior project. This was made using Flask on python and although appearing
                        functional, is perhaps not the greatest codewise.
                    </p>
                    <div class="projects__project-button-group">
                        <a class="projects__project-button" href="https://jakebot.co.uk" target="_blank">Visit</a>
                    </div>
                </div>
            </div>

            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\foxfire.png"></div>
                    <h2 class="projects__project-title">FoxFire - 2021</h2>
                    <p class="projects__project-description">This is a search engine based on pulling a small number of more complete results using APIs. Developed as a
                        project for school using Python.
                    </p>
                    <div class="projects__project-button-group">
                        <a class="projects__project-button"  href="https://foxfire.ollee.dev" target="_blank">Visit</a>
                        <a class="projects__project-button"  href="https://github.com/OliMations/FoxFire" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\glasscastle.png"></div>
                    <h2 class="projects__project-title">Glass Castles - 2022</h2>
                    <p class="projects__project-description">This is a website developed for a fictional band. This was developed for school using PHP.</p>
                    <div class="projects__project-button-group">
                        <a class="projects__project-button"  href="https://github.com/OliMations/GlassCastles" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\repairusb.png"></div>
                    <h2 class="projects__project-title">Software Selection Tool - 2021</h2>
                    <p class="projects__project-description">This is an Electron app developed personally for the company I was working for. It detected portable
                        software installations and allowed you to run them, view what they did and search for them from an easy to use interface. Made using JavaScript.
                    </p>
                    <div class="projects__project-button-group"></div>
                </div>
            </div>

            <div class="projects__project">
                <div class="projects__project-inside">
                    <div class="projects__project-image"><img src="..\static\images\microtranslate.png"></div>
                    <h2 class="projects__project-title">Microsoft Translate Tool - 2021</h2>
                    <p class="projects__project-description">A lightweight python package made for use with the Microsoft translation systems for JakeBot, 
                        and available for use by anyone.
                    </p>
                    <div class="projects__project-button-group">
                        <a class="projects__project-button"  href="https://pypi.org/project/MicroTranslator/" target="_blank">Visit</a>
                        <a class="projects__project-button" href="https://github.com/OliMations/MicroTranslator" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container row">
            <div class="footer__content"><p>Ollie Slade © 2023 | <a href="https://github.com/OliMations/olleeDev" target="_blank">View this site on GitHub.</a></p></div>
        </div>
    </footer>
</body>
</html>